.navbar-brand img {
  width: 200px;
}

.search-form {
  width: 400px;
}

.search-btn {
  background-color: tomato;
  color: white;
  padding: 12px 25px;
}
.form-control:focus {
  border-color: tomato;
  box-shadow: none;
}

.details-card {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .details-card {
    width: 100%;
  }
}
.card-img {
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
}

img {
  width: 100%;
}

.card {
  border: none;
}
.list-group-item {
  border: none;
}

.fa-check-square {
  color: tomato;
}
